.around {
  display: flex;
  justify-content: space-around;
}

.pbrButton {
  max-width: 5rem;
}

.pbrLabel {
  margin-top: .5rem;
}

.pbrSlider::-webkit-slider-thumb,
.pbrSlider::-moz-range-thumb, 
.pbrSlider::-ms-thumb {
  -webkit-appearance: none;
  background-color: var(--gcRed);
  max-width: 95%;
}

.videoResponsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.videoResponsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}