:root {
  --lightSil: #e2e2e2;
  --gcWhite: #fdfdfd;
  --gcGray: #a19f95;
  --gcCharcoal: #282825;
  --gcBlack: #020201;
  --gcRed: #971316;
  --headerFont: 'Sree Krushnadevaraya', serif;
  --bodyFont: 'Lato', sans-serif;
}

body {
  background-color: var(--lightSil);
}

h1,
h2,
h3 {
  font-family: var(--headerFont);
}

p {
  font-family: var(--bodyFont);
}

.button,
.button:focus {
  color: var(--gcWhite);
  background-color: var(--gcRed);
  margin: 0.5rem;
  border: 1px solid var(--gcWhite);
  box-shadow: none;
}
.button:hover {
  color: var(--gcRed);
  background-color: var(--gcGray);
  border: 1px solid var(--gcRed);
  cursor: pointer;
}