:root {
  --lightSil: #e2e2e2;
  --gcWhite: #fdfdfd;
  --gcGray: #a19f95;
  --gcCharcoal: #282825;
  --gcBlack: #020201;
  --gcRed: #971316;
  --headerFont: 'Sree Krushnadevaraya', serif;
  --bodyFont: 'Lato', sans-serif;
}

body {
  background-color: var(--lightSil);
}

h1,
h2,
h3 {
  font-family: var(--headerFont);
}

p {
  font-family: var(--bodyFont);
}