:root {
  --lightSil: #e2e2e2;
  --darkSil: #cacaca;
  --gcWhite: #fdfdfd;
  --gcGray: #a19f95;
  --gcCharcoal: #282825;
  --gcBlack: #020201;
  --gcRed: #971316;
  --disabled: #b14748;
  --highlightRed: #f9aaaa;
  --highlightYellow: #fff6b8;
  --highlightOrange: #f9e3aa;
  --highlightGreen: #7de67b;
  --highlightBlue: #aad0f9;
  --headerFont: "Sree Krushnadevaraya", serif;
  --bodyFont: "Lato", sans-serif;
}

body {
  background-color: var(--gcCharcoal);
  color: var(--gcGray);
}

h1,
h2,
h3 {
  font-family: var(--headerFont);
}

p {
  font-family: var(--bodyFont);
}

.bground {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.bground::after {
  content: "";
  background-image: url("./pix/chorale-rehearsal-bg.jpg");
  background-size: cover;
  background-repeat: repeat;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;
  z-index: -5;
}

.fground {
  position: relative;
  z-index: 10;
  width: 100vw;
}

.button,
.button:focus {
  color: var(--gcWhite);
  background-color: var(--gcRed);
  margin: 0.5rem;
  border: 1px solid var(--gcWhite);
  box-shadow: none;
}
.button:hover {
  color: var(--gcRed);
  background-color: var(--gcGray);
  border: 1px solid var(--gcRed);
  cursor: pointer;
}
