:root {
  --darkSil: #cacaca;
  --gcWhite: #fdfdfd;
  --gcGray: #a19f95;
  --gcCharcoal: #282825;
  --gcBlack: #020201;
  --gcRed: #971316;
  --disabled: #b14748;
  --highlightRed: #f9aaaa;
  --highlightYellow: #fff6b8;
  --highlightOrange: #f9e3aa;
  --highlightGreen: #7de67b;
  --highlightBlue: #aad0f9;
  --headerFont: "Sree Krushnadevaraya", serif;
  --bodyFont: "Lato", sans-serif;
}

table,
td,
th {
  border: 1px solid var(--gcCharcoal);
}

table {
  margin-bottom: 25px;
  table-layout: fixed;
}

td,
th {
  padding: 5px;
}

th {
  background-color: var(--gcRed);
  color: var(--gcWhite);
}

tr:nth-child(even) {
  background-color: var(--darkSil);
}
tr:hover,
tr:focus {
  background-color: var(--highlightOrange);
  cursor: pointer;
}

.active {
  background-color: var(--highlightGreen);
}

.address {
  width: 150px;
}

.bday {
  width: 45px;
}

.city {
  width: 75px;
}

.email {
  width: 215px;
}

.fName {
  width: 125px;
}

.inactive {
  background-color: var(--highlightRed);
  text-align: center;
}

.isActive {
  width: 24px;
}

.leader {
  background: var(--highlightBlue);
  text-align: center;
}

.phone {
  width: 100px;
}

.phType {
  width: 23px;
}

.pName {
  width: 64px;
}

.position {
  width: 140px;
}

.rosterTable {
  font-size: 12px;
  font-family: var(--bodyFont);
}

.section {
  width: 65px;
}

.sLeader {
  width: 25px;
}

.zip {
  width: 50px;
}
