:root {
  --gcWhite: #fdfdfd;
  --gcGray: #a19f95;
  --gcCharcoal: #282825;
  --gcBlack: #020201;
  --gcRed: #971316;
  --disabled: #b14748;
  --headerFont: "Sree Krushnadevaraya", serif;
  --bodyFont: "Lato", sans-serif;
}

a.sideLinks {
  color: var(--gcRed);
}
a.sideLinks:visited {
  color: var(--gcCharcoal);
}
a.sideLinks:hover {
  font-family: var(--headerFont);
  font-size: 18px;
}

.cardTitle {
  color: var(--gcWhite);
  background-color: var(--gcRed);
  text-align: center;
  border-radius: 15px 15px 0 0 !important;
}

.cardBody {
  color: var(--gcCharcoal);
  background-color: var(--gcGray);
  border-radius: 0 0 15px 15px;
}

.eventCards {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.formBtn {
  color: var(--gcWhite);
  background-color: var(--gcRed);
  border: 1px solid var(--gcWhite);
  width: 5rem;
  margin: 15px 0 0 15px;
}
.formBtn:disabled {
  color: var(--gcWhite);
  background-color: var(--disabled);
  border: 1px solid var(--gcWhite);
}
.formBtn:hover {
  background-color: var(--gcCharcoal);
  border: 1px solid var(--gcWhite);
  cursor: pointer;
}

.login {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.membersCard {
  margin: 1rem;
  width: 100%;
  border-radius: 15px;
  box-shadow: 10px 10px 10px 5px var(--gcCharcoal);
}

.red {
  color: var(--gcRed);
}

.sideInfo {
  font-family: var(--bodyFont);
  font-size: 18px;
  margin-top: 1.5rem;
  color: var(--gcBlack);
  text-decoration: underline;
}

.sideLinks {
  font-family: var(--bodyFont);
  font-size: 14px;
  margin: 0;
  padding: 0;
}
