:root {
  --darkSil: #cacaca;
  --gcWhite: #fdfdfd;
  --gcGray: #a19f95;
  --gcCharcoal: #282825;
  --gcBlack: #020201;
  --gcRed: #971316;
  --disabled: #b14748;
  --highlightRed: #f9aaaa;
  --highlightYellow: #fff6b8;
  --highlightOrange: #f9e3aa;
  --highlightGreen: #7de67b;
  --highlightBlue: #aad0f9;
  --headerFont: "Sree Krushnadevaraya", serif;
  --bodyFont: "Lato", sans-serif;
}

.richTextContainer {
  background-color: var(--gcWhite);
}

.rdw-editor-main {
  min-height: 20rem;
}
.rdw-editor-main:focus-within {
  outline: none;
  border-color: #b14748;
  box-shadow: 0 0 10px #b14748;
}
.public-DraftStyleDefault-block {
  margin: .5em .75em;
}