:root {
  --lightSil: #e2e2e2;
  --gcWhite: #fdfdfd;
  --gcGray: #a19f95;
  --gcCharcoal: #282825;
  --gcBlack: #020201;
  --gcRed: #971316;
  --disabled: #b14748;
  --headerFont: "Sree Krushnadevaraya", serif;
  --bodyFont: "Lato", sans-serif;
}

a {
  color: var(--disabled);
}
a:visited {
  color: var(--gcRed);
}
a:hover {
  color: var(--gcGray);
}

.accordion-button {
  color: var(--gcWhite);
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:hover {
  box-shadow: 0 0 10px var(--disabled);
}

.accordionInstr {
  color: var(--gcWhite);
  margin-top: 50px;
}

.bold {
  color: var(--gcRed);
  font-weight: 700;
}

.boldOutline {
  color: var(--gcRed);
  font-weight: 700;
  text-shadow: -1px 1px 0 var(--lightSil), 1px 1px 0 var(--lightSil),
    1px -1px 0 var(--lightSil), -1px -1px 0 var(--lightSil);
}

.announcements,
.concertCard,
.tracksCard {
  width: 100%;
}

.announcements {
  margin-left: 0;
}

.tracksCard {
  border-radius: 15px;
  box-shadow: 10px 10px 10px 5px var(--gcCharcoal);
}

.concertTitle,
.tracksTitle,
.tracksTitle > .accordion-button {
  color: var(--gcWhite);
  background-color: var(--gcCharcoal);
  display: block;
}

.concertTitle {
  height: 9rem;
  text-align: center;
  border-radius: 15px 15px 0 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.concertBody,
.tracksBody {
  color: var(--gcCharcoal);
  background-color: var(--lightSil);
  border-radius: 0 0 15px 15px;
}

.songTitle {
  color: var(--gcCharcoal);
  background-color: var(--lightSil);
  border-radius: 15px 15px 0 0 !important;
}

.songBody {
  color: var(--gcCharcoal);
  background-color: var(--gcWhite);
  border-radius: 0 0 15px 15px;
}
