label[class="form-check-label"] {
  color: var(--gcCharcoal);
}

.bordered {
  background-color: var(--lightSil);
  padding: .5rem 0;
  margin-bottom: .1rem;
  border: 1px solid var(--gcCharcoal);
  border-radius: 7px;
}

.closeSpace {
  color: var(--gcCharcoal);
  margin-bottom: .25rem;
}