:root {
  --gcWhite: #fdfdfd;
  --gcGray: #a19f95;
  --gcCharcoal: #282825;
  --gcBlack: #020201;
  --gcRed: #971316;
  --headerFont: "Sree Krushnadevaraya", serif;
  --bodyFont: "Lato", sans-serif;
}

/* div {
  border: 1px solid red;
} */

.navbar {
  background-color: var(--gcCharcoal);
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
}

.navbarCollapse {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

.navBtn {
  color: var(--gcWhite);
  background-color: var(--gcRed);
  margin: 0.5rem;
  border: 1px solid var(--gcWhite);
}
.navBtn:hover {
  color: var(--gcRed);
  background-color: var(--gcGray);
  border: 1px solid var(--gcRed);
  cursor: pointer;
}

.navlink {
  color: var(--gcWhite) !important;
  text-decoration: underline;
  justify-self: flex-end;
  font-family: var(--headerFont);
  padding: 1rem;
}

:is(.navlink:visited, .logo:visited) {
  color: var(--gcGray) !important;
}
:is(.navlink:hover, .logo:hover) {
  color: var(--gcRed) !important;
  cursor: pointer;
}

.sideNav {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  border-radius: 5px;;
}
