:root {
  --lightSil: #e2e2e2;
  --gcWhite: #fdfdfd;
  --gcGray: #a19f95;
  --gcCharcoal: #282825;
  --gcBlack: #020201;
  --red: #ff0000;
  --gcRed: #971316;
  --disabled: #b14748;
  --headerFont: "Sree Krushnadevaraya", serif;
  --bodyFont: "Lato", sans-serif;
}

.error {
  color: var(--gcWhite);
  background-color: var(--red);
}

.formBtn {
  width: 100%;
  height: 4rem;
}
.formBtn:disabled {
  color: var(--gcWhite);
  background-color: var(--disabled);
  border: 1px solid var(--gcWhite);
}

.formHeader {
  text-align: center;
}

.formInput {
  margin-bottom: 2rem;
}

.red {
  color: var(--red);
}