:root {
  --lightSil: #e2e2e2;
  --darkSil: #cacaca;
  --gcWhite: #fdfdfd;
  --gcGray: #a19f95;
  --gcCharcoal: #282825;
  --gcBlack: #020201;
  --red: #ff0000;
  --gcRed: #971316;
  --disabled: #b14748;
  --headerFont: "Sree Krushnadevaraya", serif;
  --bodyFont: "Lato", sans-serif;
}

label[class="form-label"] {
  color: var(--lightSil);
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.error {
  color: var(--gcWhite);
  background-color: var(--red);
}

.formBtn {
  width: 100%;
  height: 4rem;
}
.formBtn:disabled {
  color: var(--gcWhite);
  background-color: var(--disabled);
  border: 1px solid var(--gcWhite);
}

.form-check-input:focus {
  outline: none;
  border-color: var(--disabled);
  box-shadow: 0 0 10px var(--disabled);
}
.form-check-input:checked {
  background-color: var(--gcRed);
  border-color: var(--gcRed);
}

.formHeader {
  color: var(--lightSil);
  text-align: center;
}

.formEmail,
.formInput,
.formSelect,
.subtitleInput {
  background-color: var(--darkSil);
}
.formEmail:focus,
.formInput:focus,
.formSelect:focus,
.subtitleInput:focus {
  background-color: var(--lightSil);
}

.formCheck,
.formEmail,
.formInput,
.formSelect {
  margin-bottom: 2rem;
}
.formCheck:focus,
.formEmail:focus,
.formInput:focus,
.formSelect:focus,
.subtitleInput:focus {
  outline: none;
  border-color: var(--disabled);
  box-shadow: 0 0 10px var(--disabled);
}

.form-label {
  margin-bottom: 0;
}

.help {
  font-size: 14pt;
  cursor: pointer;
}

.helpHidden {
  font-size: 12pt;
  display: none;
  text-decoration: none;
}

.help:hover,
.help:hover > .helpHidden,
.help:active,
.help:active > .helpHidden {
  display: block;
}

.red {
  color: var(--red);
}

.subtitle {
  font-size: 0.75em;
  margin-bottom: 0.85em;
}

.text-muted {
  color: var(--gcGray);
}

.underlined {
  text-decoration: underline;
}

.warningText {
  color: var(--red);
  margin-bottom: 0.45rem;
}
